.flex-layout{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
} 

.flex-layout>.card-layout{
  text-align: center;
  box-shadow: 1px 5px 10px 5px #ededed;
  background-color: white;
  padding: 15px 20px;
  margin-bottom: 80px;
  margin-top: 50px;
  height: 400px;
}

.primary-sub{
  font-weight: 300;
  font-size: 19px;
}

.forgotcard{
  position: relative;
  height: 181px;
  width: 483px;
  font-size: 23px;
  margin-top: 70px;
  font-weight: 300;
}

.forgot-layout{
  position: absolute;
  top: -30px;
}

.PasswordInp{
  display: inline-block;
  width: 400px;
  margin-left: 30px;
  font-size: 18px;
  margin-bottom: 7px;
}

.btn{
  margin: 15px 35px;
}

.btn-layout{
  display: block;
 }


 h1{
  font-weight: 300;
  margin-bottom: 12px;
  color: firebrick;
}
