<div class="img-layout">
        <img class="img" src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1535701410823/?format=1500w" alt="accion-logo">
</div>
<div class="heading-text">
     <h1>Accion Friends Book</h1>
</div>
<div class="flex-layout">
    <div class="card-layout">
        <span class="primary-sub">Reset your password here!</span>
        <div class="forgotcard">
            <div class="forgot-layout">
              <form [formGroup] = "forgotForm">
                  <mat-form-field class="PasswordInp">
                      <input matInput placeholder="New Password" [type]="hide1 ? 'password' : 'text'" formControlName = "newPassword">
                      <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                      <mat-error *ngIf="!forgotForm.hasError('newPassword')">
                          Password field is <strong>empty</strong>
                        </mat-error> 
                      </mat-form-field>
                      <mat-form-field class="PasswordInp">
                         <input matInput placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" formControlName = "confirmPassword">
                         <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                         <mat-error *ngIf="!forgotForm.hasError('confirmPassword')">
                            Password field is <strong>empty</strong>
                          </mat-error> 
                         </mat-form-field>
                      <div class="btn-layout">
                              <button [disabled] = "forgotForm.invalid" mat-button color = "warn" class="btn" (click) = "onSubmit()">Update</button>     
                       </div>
              </form>
                   </div>
           </div> 
     </div> 
</div> 