<!-- Navigation Bar -->
<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <button mat-flat-button  class="btn-1" (click)="onHomepage()" >HOME</button>
    <button mat-flat-button class="btn-2" (click)="onClick()" >FRIENDS</button>
    <!-- <span> <img class="img" src="https://static1.squarespace.com/static/5ab6b93e5b409be7fa331cf1/t/5ac67b8c575d1f09cf1c833c/1535701410823/?format=1500w" alt=""> </span> -->
    <input type="text" [(ngModel)]="filteredName" placeholder="Search A Fellow Accionite"><mat-icon class="search">search</mat-icon>
    <button mat-flat-button class="btn-3" >LOGOUT</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="image-layout">
    <div class="hash-tags">WELCOME TO ACCIONLABS  <p>Trusted Partner To Global Brands</p> </div>
</div>


<!-- team container -->
<div class="container">
  <div class="about-us">
    About us
  </div>
  <div class="wrap-about">
    <div class="wrap-content">
      Work with Technology organizations of all sizes from small 
      startups to established enterprises across the globe who are looking 
      to harness power of emerging technologies to add value to their businesses.
    </div>
  </div>


<div class="redirect">
  <div class="container-layout">
    <div class="dash-bar">Say Hi to Accionites    </div>
    <button class="access-btn" (click)="onClick()" >view frinds</button>
  </div>
</div>

<div class="col1">
  <div class="copyright">
    <p>@ Copyright 2018, Accion Labs, Inc.</p>
  </div>
    
  </div> 
    <!-- <mat-grid-list cols="4" rowHeight="100px" class="grid-wrp">
      <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [style.background]="tile.color">
        <div class="wrap-contact">
          {{tile.conatct}}
        </div>
      </mat-grid-tile>
    </mat-grid-list> --> 
</div>


