
.grid{
    max-width: 60%;
    margin: 5px;
    
}

.header{
    color: firebrick;
    font-size: 20px;
    text-transform: capitalize;
}

.email,.phone,.birthday,.emp,.sex{
    color: firebrick;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

input[type = text]{
    position: absolute;
    right: 180px;
    width: 15%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid white;
    opacity: 0.6;
    outline: none;
    font-size: 18px;
    margin-top: 2px;
    padding: 17px 17px;
    transition: all .3s ease;
}

input:focus{
    width: 20%;
}

.bir,.se{
    float:right;
}
.icon{
    color: black;
    margin-right: 7px;
    margin-top: 4px;
}
.icon-1{
    font-size: 18px;
    margin-right: 1px;
    margin-top: 10px;
}

.search{
    position: absolute;
    right:  200px;
    
    color: lightslategray;
}

.main {
    padding: 16px;
    margin-top: 50px;
    height: 150px; 
    margin-left: 550px;
    
  }

  .page{
      
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      
  }


.navbar {
    
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh; 
    
    background-color:rgba(219, 9, 9, 0.9);
    
}
  

  .text-1{
    color:whitesmoke;
    display: block;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 7px;
    margin-top: 40px;
    text-align: center;
    
  }

  .img{
      
      margin-left: 750px;
      width: 400px;
      margin-top: 100px;
    
  }


  .btn-1,.btn-2,.btn-3{
      font-size: 21px;
      background-color:rgba(219, 9, 9, 0.1);
      padding: 4px 0 ;
      outline: none;
      margin-left: 15px;
      padding: 0 7px;
  }
  .btn-3{
      position: absolute;
      right: 30px;
      padding: 0 7px;
  }

  .head{
    margin-top:8vh;
    height: 59vh; 
    clip-path: polygon(0 0, 100% 0,100% 45vh, 0 100%);
    background-image: linear-gradient(to right bottom,rgba(219, 9, 9, 0.8), rgba(51, 51, 51, 0.8)),
    url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-0.3.5&s=11c31aebc80ec24448a30fd7f6f60c2c&auto=format&fit=crop&w=1189&q=80");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    

  }
