.grid-container {
  display: flex;
  margin: 20px;
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:1% 0 ;
}

.post{
  margin: 0 100px;
}
.event{
  margin: 0 200px;
}

.post{
  float: right;
}

.container1{
  width: 69%;
}

.container2{
  width: 29%;
}

.dashboard-card {

  padding: 20px 50px;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.post-img{
  height: 80%;
}

.mat-card-content{
  margin-bottom: 0;
}

.main-post{
  display: flex;
  /* flex-direction: column; */
  /* border: 1px solid green; */
  max-width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
  margin: 2% ;
}

.text-post{
  flex-direction: column;
  flex: 1;
  /* border: 1px solid yellow; */
}
.upload{
  width: 70%;
  color: firebrick;
  /* border: 1px solid green; */
 
}
.placeholder{
  height: 200px;
  min-height: 200px;
  max-height: 220px;
  font-size: 20px;
  padding-top: 27px;
  margin-left: 10px;
}

.btn-1{
  background-color:rgb(200, 38, 38);
  color: white; 
  padding: 5px;
  font-size: 20px;
  font-weight:200;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid lightgray;
  margin-left: 1%;
}
/* .btn-2{
  background-color:rgb(200, 38, 38);
  color: white; 
  padding: 9px;
  font-size: 20px;
  font-weight:200;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid lightgray;
} */



.example-card {
  max-width: 580px;
  flex: 1;
  height: 600px;
}

.card-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR-fT-6OU9Fca5NtqPJMcabn0hKUVincjlwVs2jdFWyoB6Zk_lTw');
  background-size: cover;
  
}

.hide-inp{
  position: relative;
  width: 200px;
  height: 50px;
  /* background-color: firebrick; */
  float: right;
  margin-right:33%; 
  border: 2px solid lightgray;
}

.fake-btn{
  background-color:rgb(83, 76, 76);
  color: white; 
  /* padding: 5px; */
  font-size: 20px;
  font-weight:bold 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
}
.fake-btn:hover{
  background-color: white;
}

.file-inp{
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 200px;
  height: 50px;
  opacity: 0;
}

.btn-2{
  width:100%;
  height: 100%;
}

.btn-1:hover{
  color: firebrick;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid black;
  background-color: #fafafa;
}

.hide-inp:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid black;
}

.card-img{
  display: flex;
  width: 100%;
  height: 63%;
  margin-left: .1%;
  margin-top: 2.5%;

}

.capt{
  color: firebrick;
  font-size: 19px;

}

p{  
    max-width: 100%;
    overflow-wrap: break-word;
    overflow: auto;
    height: 100px;
}

.preview{
 flex-direction: column;
 font-size: 20px;
  font-weight:bold 900;
  letter-spacing: 70px;
  height: 40px;
  text-transform: uppercase;
  color:firebrick;
 
}